<form name="formPassReset">
  <div>
    <img class="img front_img" src="assets/img/email.svg" alt="arrow">
    <span>*</span>
    <input type="text" placeholder="{{ 'EMAIL' | translate }}" ng-model="Login.user.email" name="email" required/>
    <p class="arrow_label" ng-show="formPassReset.email.$error.required">{{ 'REQUIRED-FIELD' | translate }}</p>
  </div>

  <div>
    <img class="img front_img" src="assets/img/password.svg" alt="arrow">
    <span>*</span>
    <input type="text" placeholder="{{ 'OLD-PASSWORD' | translate }}" ng-model="Login.user.pass" name="pass" required/>
    <p class="arrow_label" ng-show="formPassReset.pass.$error.required">{{ 'REQUIRED-FIELD' | translate }}</p>
  </div>

  <div>
    <img class="img front_img" src="assets/img/password.svg" alt="arrow">
    <span>*</span>
    <input type="text" placeholder="{{ 'NEW-PASSWORD' | translate }}" ng-model="Login.user.newPass" name="newPass" required/>

    <p class="arrow_label" ng-show="formPassReset.newPass.$error.required">{{ 'REQUIRED-FIELD' | translate }}</p>
  </div>

  <div>
    <img class="img front_img" src="assets/img/password.svg" alt="arrow">
    <span>*</span>
    <input type="text" placeholder="{{ 'REPEAT-PASSWORD' | translate }}" ng-model="Login.user.repeatPass" name="repeatPass" required/>
    <p class="arrow_label" ng-show="formPassReset.newPass.$error.required">{{ 'REQUIRED-FIELD' | translate }}</p>
    <p class="arrow_label" ng-show="Login.user.repeatPass!=Login.user.newPass">{{ 'REPEAT-PASSWORD-MSG' | translate }}</p>
  </div>
</form>
<div class="submit_button">
  <span us-spinner></span>
  <button ng-click="Login.reset()"
          ng-disabled="formPassReset.email.$error.required
                      || formPassReset.pass.$error.required
                      || formPassReset.newPass.$error.required
                      || formPassReset.repeatPass.$error.required
                      || Login.user.repeatPass!=Login.user.newPass"
    >
    {{ 'RESET-BUTTON' | translate }}
  </button>
</div>